<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="org.mozilla.gecko"
>

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- TODO: which items present for library? icon for app switcher? Add docs of needed permissions -->
    <application
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <!-- We force portrait mode because we don't want to handle recreating the Activity because it's non-trivial:
        the WebView does not restore the input fields and we can't back to the "needs verification" screen easily (if we
        were in that state). One side effect of this is that if the Activity is destroyed, e.g. low memory which can
        happen when the user switches apps to verify their account, we don't restore the state. :( Issue #1. -->
        <activity
                android:name="org.mozilla.sync.login.FirefoxSyncWebViewLoginActivity"
                android:label="@string/fxaccount_login_webview_label"
                android:exported="true"
                android:theme="@style/Theme.AppCompat.NoActionBar"
                android:screenOrientation="portrait"
                android:configChanges="orientation|keyboardHidden"
        />

    </application>

</manifest>
